#Should be located @ /usr/lib/systemd/system/ipython.service on RHEL7
#Template for Ipython notebook service
[Unit]
Description=Ipython Notebook Service

[Service]
PIDFile=/var/run/ipython.pid
ExecStart=/bin/su - %USERNAME% -c "ipython notebook --ip %IP ADDRESS% --port %PORT NO.% --config=%LOCATION%/jupyter_notebook_config.py"
WorkingDirectory=%LOCATION%/Ipython/
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
